{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static 'oss_clarity/player.css' %}">{% endblock %}
{% block extrahead %}{{ block.super }}<script src="{% static 'oss_clarity/player.js' %}" defer></script>{% endblock %}

{% block form_top %}
  {% if oc_replay_url %}
    <div class="oc-replay" data-oss-clarity-replay="{{ oc_replay_url }}">
      <p class="oc-loading">Loading the replay…</p>
    </div>
  {% endif %}
{% endblock %}
